{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^@context/(.*)$",
    "^@app/(.*)$",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
