.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.subtitle {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 600;
}

.loginButton {
  background: linear-gradient(to right, #fd6580, #fda565);
}
